.heading{
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
    justify-content: space-between;
}
.res-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.res-card{
    background-color: #f0f0f0;
    margin: 5px;
    width: 400px;
    padding: 5px;
}

.res-card:hover{
    border: 1px solid black;
}
.res-img{
    width: 90%;
}

.heading ul{
    display: flex;
}
.heading ul li{
    list-style: none;
    padding: 10px;
}
.imgLogo{
    width: 150px;
    height: 100px;
    padding: 10px;
}
.searchBox{
    cursor: pointer;
}